<div class="Header">
    <div class="hero">
        <div class="navbar">
            <div class="newlinks">
               <ul>
                <li><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
                <li><a routerLink="/courses"><i class="fa fa-university"></i> Courses</a></li>
                <li><a routerLink="/faq"><i class="fa fa-quora"></i> FAQ</a></li>
                <li><a routerLink="/about"><i class="fa fa-user"></i> About Us</a></li>
                <li><a routerLink="/contact"><i class="fa fa-phone"></i> Contact Us</a></li>
                <li><button>Sign In</button></li>
               </ul>
            </div>  
        </div>
    </div>
</div>

<router-outlet></router-outlet>
